@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Use nest your css to convert nested before loading
https://nestyourcss.com/
*/




/****************************************
  Deployed
*****************************************/ 

#center-content {
  background: var(--background-primary);
}

#left-sidebar {
  background: var(--background-secondary)
}

#center-content .pixel-banner-image,
#center-content .select-image-icon {
  display: none;
}


/****************************************
  Global
*****************************************/ 

body p {
  font-weight: var(--font-light);
}

/*-------------------
  Headings + Hr
--------------------*/
:is(h1, h2, h3, .inline-title) {
  text-transform: uppercase;
  margin-bottom: .7em;
  
  &::before{
    content: "❙ ";
    color: var(--text-accent);
  }
}

/* Checks for sibling */
:is(.el-h1, .el-h2, .el-h3, .el-h4, .el-h5) {

  &:has(+ .el-h6){
     :is(h1, h2, h3, h4, h5) {
      margin-bottom: 0;
    } 
  }

  + .el-p p {
      margin: .1em auto;
  }
}

h6 {
    margin:.3em auto .7em;
    text-transform: uppercase;
}

.inline-title {
  font-size: var(--font-ui-large) ;
  &::before {
    content: '✦ ';
  }
}

hr {
    margin-top: 0;
}

/*-------------------
  Color
--------------------*/

body {
  --color-water:#55cdf1;
  --color-fire:#e75858;
  --color-air:#c3c2b5;
  --color-earth: #93b35b;
  --color-body: #dd7e6b;
  --color-mind:#a64d79;
  --color-soul: #674ea7;
}

.lable, .l {
  color: var(--text-accent);
}



.accent {
  --color-accent: var(--text-accent);

  &.red {--text-accent: var(--color-red);}
  &.orange {--text-accent: var(--color-orange);}
  &.yellow {--text-accent: var(--color-yellow);}
  &.green {--text-accent: var(--color-green);}
  &.blue {--text-accent: var(--color-blue);}
  &.purple {--text-accent: var(--color-purple);}
  &.water {--text-accent: var(--color-water);}
  &.fire {--text-accent: var(--color-fire);}
  &.air {--text-accent: var(--color-air);}
  &.earth {--text-accent: var(--color-earth);}
  &.body {--text-accent: var(--color-body);}
  &.mind {--text-accent: var(--color-mind);}
  &.soul {--text-accent: var(--color-soul);}
}

/*-------------------
  Callouts
--------------------*/

/* Utility Callout */
.callout {
  &[data-callout-metadata*="hide"] {
    background: none!important;
    
    .callout-title {
      display: none;
    }

    .callout-content {
      border: none!important;
      background: none!important;
    }
  }

  &[data-callout-metadata*="no-border"] .callout-content {
    border: none!important;
  }
}

/* Section Callout */
.callout[data-callout="section"]{

  background: var(--bg3);

  .callout-title {
    display:none;
  }


}


 /* Show inline dv variables as normal text */
 .dataview[data-dv-key="summary"]{
  color: var(--text-normal);
  font-size: var(--font-text-size);
  text-decoration: none;
 }





/*-------------------
  Zero Out
--------------------*/



/****************************************
  Affinities
*****************************************/ 


 .affinities {

    .callout[data-callout="col"] .callout-content {
      padding:0
    }
    /* removes padding */
   .columnParent:has(.callout[data-callout="affinity"]) {
      padding-left: 0;
      align-items: space-between;
   }

   /* affinity */
  .callout[data-callout="affinity"]  {
      background: none;
      border: none;
      padding: 0;

    .callout-content {
        border: none;
    }

    .callout-title {
        display:none;
    }

    p {
      margin:0;
    }

    .v {
      color: var(--text-muted);
      text-align: right;
      margin: 0;
    } 
  }

   strong {
     color: var(--text-accent);
   }

   blockquote p {
     color: var(--text-normal);   
   }
   
}


/****************************************
  Navigation
*****************************************/ 


/********************
  Buttons
*********************/ 
.home .callout[data-callout-metadata*="cc-nav"] {
  
  .callout-content ul {
    display:flex; 
    width: 100%!important;
    justify-content:space-evenly;
}
 
 .callout-content li {
    margin:0;
    text-align: center;
 }

  a {
    display:flex;
    flex-flow: column;
    margin:auto;
    text-decoration: none;
    font-size:calc(var(--font-adaptive-normal) - 2px);
    color:var(--color-rosewater);
    letter-spacing: 1px;
    font-weight: 300;
 }
 
  .list-bullet {
    display:none;
 }
 
  .cm-iconize-icon {
    background: var(--link-color);
    width: 80px;
    height: 80px;
    padding: 1.2em;
    border-radius: 100%;
    margin: 1.5em auto;
 }
 
 .cm-iconize-icon svg  {
    width: 25px;
    height: 25px;
    color: var(--text-normal);
    margin:auto;
 }

}

/****************************************
  Infobox/Labels Tweaks
*****************************************/ 

.callout[data-callout="infobox"] h1{
  font-weight: var(--font-light);
  
  &::before {
    content:none;
  }

}

p:has(> .l) { 
  /* Evenly space elements */
  display: flex;
  flex-wrap: wrap;
  font-size: .9em;
  
  > span {
    margin: .2em 0;
  } 

  > .l {
    display: inline-block;
    width: 35%; /* force two per row */
    margin:0;
    

    /* Value align right */
    + * {
      color: var(--text-muted);
      display:inline-block;
      width: 65%;
      text-align: right;
   }
  }
}

/****************************************
  Character Pages
*****************************************/ 

/* Title */
.chara {

  /* .inline-title {
    color: var(--color-red);
  } */

  .inline-title {
    max-width: calc( 100% - var(--ic-width));
    text-align:center;
  }   

  /* Blockquote */
  .callout[data-callout="blockquote"] {
    border: none;
    background: none;
    padding: .5em;
    color: var(--blockquote-color);
    font-weight:200;
    text-align: center;
    margin:0;


  /* Adjectives */
  strong {
    color:var(--text-accent);
    }
  }

  /********************
    Relationships
  *********************/ 
  .callout[data-callout="col"] {
    margin: 0 auto;

    .callout-content {
      padding: 0;
    }
  
    blockquote{
      border:none;
      background:none;
    }
  }

  .callout[data-callout="r-img"] {
    max-width:100px;
    text-align: center;
    margin: 1em 0!important; 
    padding:0;
    background: none;
  }

  .callout[data-callout="r-desc"]{
    background:none;

    p:first-child {
      display: flex;
    }

    .r-quote {
      margin: auto;
    }
    
    em {
      color: var(--text-muted);
    }

    hr {
      margin: .5em auto;
    }
  }
}


/* Adjectives */




/*****************************************
  Bases
*****************************************/ 

.bases-embed[alt~="no-toolbar"]{
  > .bases-view, 
    .bases-tr {
      border: none!important;
      box-shadow: none!important;
  }

  .bases-td {
    display:list-item;
  }
}




/*****************************************
  Hide + Utils
******************************************/ 

/* display none */
.hide-title .inline-title,
.bases-embed[alt~="no-toolbar"] > .bases-header,
.bases-embed[alt~="no-toolbar"] .bases-thead,
.home .callout[data-callout-metadata="cc-nav"] .callout-title
 {
    display:none;
}

/* no borders */
.chara .callout[data-callout="r-img"],
.chara .callout[data-callout="r-desc"],
.home .callout[data-callout-metadata="cc-nav"] .callout-content {
  border:none!important; 
} 

/* 0 padding and margin */
.chara .callout[data-callout="r-desc"] {
  padding: 0!important;
  margin: 0!important;
}

/* No background*/
.home .callout[data-callout-metadata="cc-nav"] {
  background: none!important;
}





/* .cm-comment {
  color: var(--color-base-40);
} */


/* .color-title .inline-title {
  color: var(--color-red);
} */



span[alt*="cc-embed"] {
    padding: 0!important;
    border:none;
    
    .markdown-preview-view,
    .markdown-preview-section {
      padding-left: 0 !important;
      margin-left: 0 !important;
    }


    .markdown-embed-link {
        display:none;
    }
}
    


span[alt*="affinities"] {
   width:var(--container-width);

   /* select content */
   .markdown-preview-view .markdown-preview-sizer .el-table {
        padding:0;
        margin:0;

      table {width:100%;}   
    
      /* image covers */
      th {
        height: 150px;
        width:50px;
        padding:0;

        img {object-fit: cover;}
        }
       

      tr{
        display:flex;
        width:100%;}

      tr:first-child {
        a {color: var(--text-normal);}

        td {
          
          &:nth-child(1) {background: var(--color-water);}
          &:nth-child(2) {background: var(--color-fire);}
          &:nth-child(3) {background: var(--color-air);}
          &:nth-child(4) {background: var(--color-earth);}
          &:nth-child(5) {background: var(--color-body);}
          &:nth-child(6) {background: var(--color-mind);}
          &:nth-child(7) {background: var(--color-soul);}
        }
    }
  }
}

  


